* {
    background-color:#545375;
    
}

#check-btn {
  background-color: rgb(234, 197, 234);
    border-radius: 6px;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    font-weight: bolder;
    
}
#text-input {
   background-color: rgb(234, 197, 234);
    border-radius: 6px;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    font-weight: bolder;
}
#result {
   
    border-radius: 6px;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    font-weight: bolder;
    background-color: #F4E9F3;
}
#sect {
    width: 500px;
    height: 200px;
    border: 3px solid black;
    margin : 10px;
    margin-top: 40px;
    margin-bottom: 30px;
    display: inline-block;
    background-color:#F4E9F3;
    box-shadow: 4px 4px 10px rgb(186, 210, 211);
    border-radius:30px;
 
}
#h1 {
    margin : 10px;
    margin-top: 50px;
    font-size:56px;
    color:aliceblue;
    font-style: normal;
}
#sect2 {
    width: 500px;
    height: 150px;
    border: 3px solid black;
    margin : 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    display: inline-block;
    background-color:darkgreen;
    box-shadow: 4px 4px 10px rgb(61, 105, 107);
    border-radius: 30px;
}
#h2 {
background-color:darkgreen;
}
#h3 {
    background-color:#F4E9F3;
}